# Dependencies
node_modules/

# Environment
.env

# Logs
logs/
*.log

# Uploads (keep .gitkeep)
uploads/*
!uploads/.gitkeep

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.sw?

/src/generated/prisma
